@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================ Custom Scrollbar =================================== */

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    /* This is more usable for users trying to click it. */
    background-color: cadetblue;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 6px;
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    background: lightgray;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:horizontal {
    background-color: lightgray;
    height: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #0000008f;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

/* ================================ Custom Scrollbar Ends =================================== */